@mixin font-face($font-family, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
    font-display: swap;
    src: $font-src;
  }
}

@mixin flex ($dir, $justify, $align) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin pseudo ($width, $height) {
  content: "";
  display: block;
  // position: absolute;
  width: $width;
  height: $height;
}
