/* здесь используйте глобальные переменные */
// TEXT
$base-color-text-black: #444444;
$sec-color-text-black: #000000;
$sec-color-text-white: #ffffff;
$contacts-message-color: #111111;
// BACKGROUND
$page-bg-color: #ffffff;
$section-bg-color: #f2f2f2;
$base-bg-green: #68b738;

