.about {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 49px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 82px 110px 71px;
  }
}

.about__title {
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.about__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.about__item {
  min-height: 60px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    min-height: 280px;
  }

  @media (min-width: $desktop-width) {
    min-height: 280px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 37px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--composition {
    &::before {
      @include pseudo (25px, 28px);
      background-image: url("../../icons/index/leaf-icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 93px;
      left: 38px;
      z-index: 2;
    }

    &::after {
      @include pseudo (60px, 60px);
      background-color: #68b738;
      position: absolute;
      top: 77px;
      left: 20px;
      z-index: 1;
    }

    @media (min-width: $tablet-width) {
      width: 230px;
      margin-right: 153px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 94px;
    }
  }

  &--cooking {
    &::before {
      @include pseudo (26px, 29px);
      background-image: url("../../icons/index/glass-icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 172px;
      left: 37px;
      z-index: 2;
    }

    &::after {
      @include pseudo (60px, 60px);
      background-color: #68b738;
      position: absolute;
      top: 158px;
      left: 20px;
      z-index: 1;
    }

    @media (min-width: $tablet-width) {
      width: 246px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 79px;
    }
  }

  &--replace {
    &::before {
      @include pseudo (25px, 30px);
      background-image: url("../../icons/index/eat-icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 254px;
      left: 37px;
      z-index: 2;
    }

    &::after {
      @include pseudo (60px, 60px);
      background-color: #68b738;
      position: absolute;
      top: 239px;
      left: 20px;
      z-index: 1;
    }

    @media (min-width: $tablet-width) {
      width: 247px;
      margin-right: 137px;
    }

    @media (min-width: $desktop-width) {
      width: 248px;
      margin-right: 77px;
    }
  }

  &--timing {
    &::before {
      @include pseudo (26px, 31px);
      background-image: url("../../icons/index/scales-icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 332px;
      left: 37px;
      z-index: 2;
    }

    &::after {
      @include pseudo (60px, 60px);
      background-color: #68b738;
      position: absolute;
      top: 318px;
      left: 20px;
      z-index: 1;
    }

    @media (min-width: $tablet-width) {
      width: 249px;
    }

    @media (min-width: $desktop-width) {
      width: 246px;
    }
  }
}
