.about {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      @include pseudo (100%, 1px);
      background-color: #e6e6e6;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      display: none;
    }
  }
}

.about__wrap {
  @include flex (column, space-between, flex-start);
  flex-wrap: wrap;
  margin: 0 auto 49px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 45px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto 68px;
    padding: 0 110px;
  }
}

.about__title {
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.about__list {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    flex-direction: row;
  }
}

.about__item {
  padding: 2px 0 4px 80px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    @include flex (column, flex-end, center);
    padding: 151px 0 57px;

    &:not(:last-child) {
      margin-bottom: 37px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n) {
      margin-bottom: 0;
    }
  }
}

.about__description {
  width: 100%;

  @media (min-width: $tablet-width) {
    &::after {
      content: counter(section);
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      counter-increment: section 1;
      color: $section-bg-color;
      justify-self: end;
      z-index: -1;
      top: 0;
      transform: translate(-50%);
    }
  }
}

.about__item--composition {
  &::before {
    @include pseudo (25px, 28px);
    background-image: url("../../icons/index/leaf-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 26%;
    left: 18px;
    z-index: 2;
  }

  &::after {
    @include pseudo (60px, 60px);
    background-color: #68b738;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-right: 153px;
    margin-bottom: 37px;

    &::before {
      width: 25px;
      height: 28px;
      top: 66px;
      left: 26px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 94px;

    &::before {
      top: 66px;
      left: 28px;
    }

    &::after {
      top: 40px;
      left: 0;
    }
  }
}

.about__item--composition .about__description {
  @media (min-width: $tablet-width) {
    &::after {
      top: -1px;
      left: 170px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 0;
      left: 171px;
    }
  }
}

.about__item--cooking {
  &::before {
    @include pseudo (26px, 29px);
    background-image: url("../../icons/index/glass-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 26%;
    left: 18px;
    z-index: 2;
  }

  &::after {
    @include pseudo (60px, 60px);
    background-color: #68b738;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 246px;
    margin-bottom: 37px;

    &::before {
      top: 65px;
      left: 28px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 79px;

    &::before {
      top: 66px;
      left: 28px;
    }

    &::after {
      top: 40px;
      left: 1px;
    }
  }
}

.about__item--cooking .about__description {
  @media (min-width: $tablet-width) {
    &::after {
      left: 180px;
    }
  }
}

.about__item--replace {
  &::before {
    @include pseudo (25px, 30px);
    background-image: url("../../icons/index/eat-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 25%;
    left: 18px;
    z-index: 2;
  }

  &::after {
    @include pseudo (60px, 60px);
    background-color: #68b738;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 247px;
    margin-right: 137px;
    margin-bottom: 0;

    &::before {
      top: 64px;
      left: 28px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 248px;
    margin-right: 77px;

    &::before {
      top: 65px;
      left: 29px;
    }

    &::after {
      top: 40px;
      left: 1px;
    }
  }
}

.about__item--replace .about__description {
  @media (min-width: $tablet-width) {
    &::after {
      left: 180px;
    }
  }
}

.about__item--timing {
  &::before {
    @include pseudo (26px, 31px);
    background-image: url("../../icons/index/scales-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 25%;
    left: 17px;
    z-index: 2;
  }

  &::after {
    @include pseudo (60px, 60px);
    background-color: #68b738;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 249px;

    &::before {
      top: 63px;
      left: 27px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 246px;

    &::before {
      top: 65px;
      left: 28px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 1px;
    }
  }
}

.about__item--timing .about__description {
  @media (min-width: $tablet-width) {
    &::after {
      left: 180px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 182px;
    }
  }
}
