.about {
  @include flex (column, space-between, flex-start);
  flex-wrap: wrap;
  margin-bottom: 49px;
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin-bottom: 69px;
    padding: 0 110px;
  }
}

.about__title {
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.about__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.about__item {
  min-height: 60px;
  padding: 2px 0 4px 80px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    @include flex (column, flex-end, center);
    min-height: 280px;
    padding: 151px 0 57px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n) {
      margin-bottom: 0;
    }
  }
}

.about__description {
  width: 100%;
}

.about__item--composition {
  &::before {
    @include pseudo (25px, 28px);
    background-image: url("../../icons/index/leaf-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 93px;
    left: 38px;
    z-index: 2;
  }

  &::after {
    @include pseudo (60px, 60px);
    background-color: #68b738;
    position: absolute;
    top: 77px;
    left: 20px;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-right: 153px;
    margin-bottom: 37px;

    &::before {
      width: 30px;
      height: 32px;
      top: 158px;
      left: 55px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 134px;
      left: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 94px;

    &::before {
      top: 158px;
      left: 135px;
    }

    &::after {
      top: 134px;
      left: 110px;
    }
  }
}

.about__item--cooking {
  &::before {
    @include pseudo (26px, 29px);
    background-image: url("../../icons/index/glass-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 172px;
    left: 37px;
    z-index: 2;
  }

  &::after {
    @include pseudo (60px, 60px);
    background-color: #68b738;
    position: absolute;
    top: 158px;
    left: 20px;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 246px;
    margin-bottom: 37px;

    &::before {
      top: 158px;
      left: 441px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 134px;
      left: 414px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 79px;

    &::before {
      top: 158px;
      left: 460px;
    }

    &::after {
      top: 134px;
      left: 435px;
    }
  }
}

.about__item--replace {
  &::before {
    @include pseudo (25px, 30px);
    background-image: url("../../icons/index/eat-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 254px;
    left: 37px;
    z-index: 2;
  }

  &::after {
    @include pseudo (60px, 60px);
    background-color: #68b738;
    position: absolute;
    top: 239px;
    left: 20px;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 247px;
    margin-right: 137px;
    margin-bottom: 0;

    &::before {
      top: 465px;
      left: 55px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 440px;
      left: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 248px;
    margin-right: 77px;

    &::before {
      top: 134px;
      left: 55px;
    }

    &::after {
      top: 134px;
      left: 500px;
    }
  }
}

.about__item--timing {
  &::before {
    @include pseudo (26px, 31px);
    background-image: url("../../icons/index/scales-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 332px;
    left: 37px;
    z-index: 2;
  }

  &::after {
    @include pseudo (60px, 60px);
    background-color: #68b738;
    position: absolute;
    top: 318px;
    left: 20px;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 249px;

    &::before {
      top: 465px;
      left: 441px;
    }

    &::after {
      width: 80px;
      height: 80px;
      top: 440px;
      left: 414px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 246px;
  }
}
