.additional-products {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-products__title {
  margin-bottom: 36px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $sec-color-text-black;
  position: relative;

  &::after {
    @include pseudo (34px, 2px);
    background-color: $base-bg-green;
    position: absolute;
    top: 12px;
    right: -20px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 80px 40px;
    font-size: 32px;
    line-height: 32px;

    &::before {
      @include pseudo (30px, 2px);
      background-color: $base-bg-green;
      position: absolute;
      top: 16px;
      left: -70px;
    }

    &::after {
      width: 357px;
      top: 16px;
      right: -30px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px;
    font-size: 40px;
    line-height: 40px;
    grid-column: 1/-1;

    &::before {
      width: 70px;
      top: 20px;
      left: -110px;
    }

    &::after {
      width: 914px;
      top: 20px;
      right: -110px;
    }
  }
}

.additional-products__list {
  margin-bottom: 35px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
    grid-column: 1/4;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-products__item {
  padding: 13px 0 19px;

  &:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;

    &:not(:last-child) {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 17px;
  }
}
