.additional-products {
  position: relative;

  &::after {
    @include pseudo (34px, 2px);
    background-color: $base-bg-green;
    top: 10px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 100%;
      top: 16px;
      left: 0;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 20px;
    }
  }
}

.additional-products__wrap {
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-products__title {
  margin: 0 0 34px 20px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $sec-color-text-black;
  display: inline-block;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 0 80px 30px;
    padding: 0 40px;
    font-size: 32px;
    line-height: 32px;
    z-index: 2;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 110px;
    font-size: 40px;
    line-height: 40px;
    grid-column: 1/-1;
  }
}

.additional-products__list {
  margin-bottom: 35px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
    grid-column: 1/4;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-products__item {
  padding: 13px 0 19px;

  &:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;

    &:not(:last-child) {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 17px;
  }
}
