.catalog {
  margin-bottom: 26px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
    padding: 0 30px;
  }
}

.catalog__title {
  margin-bottom: 41px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  @include flex (column, space-between, center);
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
