.catalog-card {
  position: relative;
  width: 280px;
  background-color: $section-bg-color;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }

  &--slim {
    &::before {
      @include pseudo (36px, 50px);
      background-image: url("../../icons/index/cat-slim-icon-mobile.svg");
      background-repeat: no-repeat;
      background-size: auto;
      position: absolute;
      z-index: 2;
      top: 21px;
      left: 27px;
    }

    &::after {
      @include pseudo (50px, 50px);
      background-color: $base-bg-green;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      top: 24px;
      left: 20px;
    }
  }

  &--pro {
    &::before {
      @include pseudo (67px, 28px);
      background-image: url("../../icons/index/cat-pro-icon-mobile.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      z-index: 2;
      top: 35px;
      left: 12px;
    }

    &::after {
      @include pseudo (50px, 50px);
      background-color: $base-bg-green;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      top: 24px;
      left: 21px;
    }
  }
}


.catalog-card__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $sec-color-text-black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }

  &--slim {
    padding: 30px 80px 29px 90px;
  }

  &--pro {
    padding: 30px 52px 29px 91px;
  }
}

.catalog-card__description {
  color: $base-color-text-black;
  padding: 0 33px 38px 20px;
}

.catalog-card__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $sec-color-text-black;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    @include pseudo (32px, 10px);
    mask-image: url("../../icons/index/arrow-icon.svg");
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: #000000;
    position: absolute;
  }

  &--slim {
    padding: 0 126px 22px 20px;

    &::after {
      top: 6px;
      left: 102px;
    }
  }

  &--pro {
    padding: 0 177px 22px 20px;

    &::after {
      top: 6px;
      left: 98px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
