.catalog-card {
  @include flex (column, space-between, flex-start);
  position: relative;
  width: 100%;
  background-color: $section-bg-color;

  @media (min-width: $tablet-width) {
    display: block;
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    max-width: 570px;
  }
}

.catalog-card--slim {
  &::before {
    @include pseudo (36px, 50px);
    background-image: url("../../icons/index/cat-slim-icon.svg");
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 2;
    top: 21px;
    left: 27px;
  }

  &::after {
    @include pseudo (50px, 50px);
    background-color: $base-bg-green;
    border-radius: 50%;
    z-index: 1;
    top: 24px;
    left: 20px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 140px;
      height: 194px;
      top: 80px;
      left: 67%;
    }

    &::after {
      width: 200px;
      height: 200px;
      top: 91px;
      left: 63%;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
      height: 97px;
      top: 40px;
      left: 13%;
    }

    &::after {
      width: 100px;
      height: 100px;
      top: 45px;
      left: 10%;
    }
  }
}

.catalog-card--pro {
  &::before {
    @include pseudo (67px, 28px);
    background-image: url("../../icons/index/cat-pro-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
    top: 34px;
    left: 13px;
  }

  &::after {
    @include pseudo (50px, 50px);
    background-color: $base-bg-green;
    border-radius: 50%;
    z-index: 1;
    top: 24px;
    left: 21px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 268px;
      height: 112px;
      top: 134px;
      left: 411px;
    }

    &::after {
      width: 200px;
      height: 200px;
      top: 90px;
      left: 63%;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 134px;
      height: 56px;
      top: 65px;
      left: 7%;
    }

    &::after {
      width: 100px;
      height: 100px;
      top: 45px;
      left: 10%;
    }
  }
}

.catalog-card__title {
  margin-bottom: 25px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $sec-color-text-black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
}

.catalog-card__title--slim {
  padding: 29px 80px 0 90px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding: 76px 150px 0 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 192px 0 214px;
    margin-bottom: 73px;
  }
}

.catalog-card__title--pro {
  padding: 29px 52px 0 91px;

  @media (min-width: $tablet-width) {
    padding: 76px 240px 0 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 150px 0 214px;
    margin-bottom: 73px;
  }
}

.catalog-card__description {
  margin-bottom: 38px;
  padding: 0 33px 0 20px;
  color: $base-color-text-black;

  &::after {
    @include pseudo (85%, 1px);
    background-color: #d9d9d9;
    bottom: 22%;
    left: 20px;
  }

  @media (min-width: $tablet-width) {
    max-width: 55%;
    margin-bottom: 52px;
    padding: 0;
    padding-left: 52px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 0 56px 0 52px;
    margin-bottom: 23px;
  }
}

.catalog-card__link {
  display: block;
  max-width: 134px;
  margin-bottom: 22px;
  padding-left: 20px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $sec-color-text-black;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 165px;
    margin-bottom: 53px;
    padding-left: 53px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    @include pseudo (24px, 12px);
    mask-image: url("../../icons/index/arrow-icon.svg");
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: #000000;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-card__link--slim {
  &::after {
    top: 1px;
    left: 116%;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 9px;
      left: 112%;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 11px;
      left: 105%;
    }
  }
}

.catalog-card__link--pro {
  &::after {
    top: 1px;
    left: 116%;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 8px;
      left: 109%;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 11px;
      left: 105%;
    }
  }
}
