.catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
