.copyright {
  @include flex (row, space-between, center);
  width: 100%;
  padding: 20px 0 40px;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 162px;
  }

  &::before {
    @include pseudo(27px, 34px);
    mask-image: url("../../icons/social/html-academy-logo.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $social-list-icon-color;
    position: static;
  }

  &:hover::before,
  &:focus::before {
    background-color: $base-bg-green;
  }

  &:active::before {
    background-color: $base-bg-green;
    opacity: 0.3;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      width: 163px;
    }
  }
}

.copyright__title {
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text-black;
  order: -1;
}
