.header {
  width: 100%;
  padding: 0 20px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-width) {
    @include flex (row, space-between, center);
    height: 75px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    height: 114px;
    background-color: transparent;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  width: 192px;

  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
