.header {
  font-size: 20px;
  line-height: 20px;
}

.header__wrap {
  @include flex (row, space-between, center);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-transform: uppercase;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    background-color: transparent;
  }
}

.header .site-list__item--current {
  @media (min-width: $tablet-width) {
    &::after {
      background-color: $base-bg-green;
    }
  }
}

.header--main {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 30px;
    left: 80px;
    z-index: 10;
  }
}

.header--main .site-list__item--current {
  @media (min-width: $desktop-width) {
    &::after {
      background-color: $sec-color-text-white;
    }
  }
}

.header--catalog {
  margin: 0 auto 27px;

  &::after {
    @include pseudo(100%, 1px);
    background-color: #d9d9d9;
  }


  @media (min-width: $tablet-width) {
    margin-bottom: 63px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.header__logo {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 202px;
    margin-right: 94px;
  }
}

.header--catalog .site-list__item--current {
  @media (min-width: $desktop-width) {
    &::after {
      background-color: $base-bg-green;
    }
  }
}

.header--catalog .logo__image--text {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.header--catalog .header__wrap {
  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}
