.intro {
  height: 440px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $secondary-font;
  color: $sec-color-text-white;

  background-color: $base-bg-green;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), (rgba(104, 183, 56, 0.85))), url("../../images/index/index-background-cat-mobile@1x.png");
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;

  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 875px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $page-bg-color;
    background-image: none;
    color: $sec-color-text-black;
  }

  @media (min-width: $desktop-width) {
    height: 694px;
    padding-left: 110px;
    padding-right: 110px;
    background-color: $page-bg-color;
    background-image: linear-gradient(to right, $page-bg-color 50%, rgba(104, 183, 56, 0.85) 50%), url("../../images/index/index-background-cat-desktop@1x.png");
    background-position: center, left;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.intro__slogan {
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.intro__button {
  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
  }
}
