.intro {
  font-family: $secondary-font;
  color: $sec-color-text-white;
  background-color: $base-bg-green;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.intro__slogan {
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
