.logo {
  padding: 13px 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image--icon {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}
