.logo {
  min-height: 38px;

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image--icon {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}
