.main-nav {
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    @include flex (row,flex-end,center);
    margin-right: 4px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__toggle {
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
  top: 19px;
  right: 15px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle::before {
  @include pseudo (24px, 2px);
  top: 14%;
  left: 0;
  background-color: $sec-color-text-black;
  box-shadow: 0 8px 0 0 $sec-color-text-black, 0 16px 0 0 $sec-color-text-black;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
  fill: $sec-color-text-black;
  opacity: 0.6;
}

.main-nav--closed .main-nav__toggle:active::before {
  fill: $sec-color-text-black;
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  top: 16px;
  right: 11px;

  &::before,
  &::after {
    @include pseudo (24px, 2px);
    background-color: $sec-color-text-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after,
.main-nav--opened .main-nav__toggle:focus::before,
.main-nav--opened .main-nav__toggle:focus::after {
  fill: $sec-color-text-black;
  opacity: 0.6;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  fill: $sec-color-text-black;
  opacity: 0.3;
}

.main-nav--nojs {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list {
  display: block;
}
