.more-products__lead-text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $sec-color-text-black;
}

.more-products__text {
  font-size: 12px;
  line-height: 16px;
}
