.more-products {
  &::before {
    @include pseudo(30px, 30px);
    background-image: url("../../icons/catalog/catalog-plus-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.more-products__lead-text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.more-products__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
