.social-list {
  width: 132px;
  position: relative;
}


.social-list__link {
  &--vk {
    &::after {
      @include pseudo(27px, 17px);
      mask-image: url("../../icons/social/vk-icon.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100%;
      background-color: $social-list-icon-color;
    }
  }

  &--yt {
    &::after {
      @include pseudo(24px, 19px);
      mask-image: url("../../icons/social/yt-icon.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100%;
      background-color: $social-list-icon-color;
      right: 50%;
    }
  }

  &--tg {
    &::after {
      @include pseudo(20px, 17px);
      mask-image: url("../../icons/social/tg-icon.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100%;
      background-color: $social-list-icon-color;
      left: 70px;
    }
  }

  &--vk:hover::after,
  &--yt:hover::after,
  &--tg:hover::after,
  &--vk:focus::after,
  &--yt:focus::after,
  &--tg:focus::after {
    background-color: $base-bg-green;
  }

  &--vk:active::after,
  &--yt:active::after,
  &--tg:active::after {
    background-color: $base-bg-green;
    opacity: 0.3;
  }
}
