.statistic {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, ($page-bg-color 57.3%, #eaeaea 57.3%));
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, ($page-bg-color 22.8%, #f2f2f2 22.8%));
  }
}

.statistic__wrap {
  @include flex (column, space-between, center);
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 30px 100px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px 75px;
    margin: 0 auto;
  }
}

.statistic__title {
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $sec-color-text-black;
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding: 46px 0 0;
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 147px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.statistic__text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.statistic__list {
  @include flex (row, space-between, center);
  flex-wrap: wrap;
  column-gap: 32px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include flex (row, flex-start, center);
    width: 367px;
    margin-bottom: 104px;
    column-gap: 43px;
    grid-column: 1/3;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

.statistic__item {
  position: relative;

  @include flex (column, space-between, center);
  min-width: 124px;
  padding-top: 13px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    @include flex (column, space-between, center);
    width: 162px;
    padding-top: 15px;
  }
}

.statistic__number {
  padding-bottom: 16px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.statistic__description {
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  text-align: center;
  position: absolute;
  top: 46px;
  left: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    background-color: $page-bg-color;
    top: 58px;
    left: 26px;
  }

  &--time {
    @media (min-width: $tablet-width) {
      min-width: 142px;
      left: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 14px;
  }
}

.statistic__price {
  width: 100%;
  margin-bottom: 20px;
  font-family: $secondary-font;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $sec-color-text-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include flex (column, space-between, center);
    margin: 0;
    padding-top: 12px;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
    align-items: flex-end;
    grid-column: 3/-1;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    @include flex (row, space-between, center);
    width: 329px;
    padding-left: 1px;
    position: static;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.statistic__price-text {
  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
    padding-right: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-right: 0;
  }
}

.statistic__price-number {
  @media (min-width: $desktop-width) {
    padding-right: 2px;
  }
}

.statistic__slider-wrap {
  width: 280px;
  height: 256px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
    margin-bottom: 8px;
    grid-column: 3/-1;
    grid-row: 1/5;
  }
}

.statistic__image--before {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.statistic__image--after {
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

