.statistic {
  background-color: $section-bg-color;
}

.statistic__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $sec-color-text-black;
}

.statistic__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $sec-color-text-black;
}

.statistic__price {
  font-family: $secondary-font;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $sec-color-text-black;
}
