.statistic {
  background-color: $section-bg-color;
}

.statistic__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.statistic__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.statistic__description {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.statistic__price {
  font-family: $secondary-font;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $sec-color-text-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
